#page-subscriptions .ui.button.labeled i.icon {
  display: flex;
  align-items: center;
  justify-content: center;
}

#page-subscriptions .selected-items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
}

#page-subscriptions .subscriptions-panel-menu.ui.secondary.menu {
  flex-wrap: wrap;
}

#page-subscriptions .subscriptions-panel-menu.ui.secondary.menu .item {
  padding-right: 0;
  margin: 0;
}

#page-subscriptions
  .subscriptions-panel-menu.ui.secondary.menu
  .item:first-child {
  margin-left: 0.5rem;
}

#page-subscriptions
  .subscriptions-panel-menu.ui.secondary.menu
  .item:last-child {
  margin-right: 1.5rem;
  margin-left: auto;
}

#page-subscriptions .search-form .fields {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-end;
}

#page-subscriptions .ui.fixed.table th,
#page-subscriptions .ui.fixed.table td {
  text-overflow: initial;
  white-space: break-spaces;
}

#page-subscriptions .ui.fixed.table th:last-child,
#page-subscriptions .ui.fixed.table td:last-child {
  text-align: right;
}

#page-subscriptions .no-results {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1.5rem 1rem;
  border-right: 1px solid #c7d5d8;
  border-left: 1px solid #c7d5d8;
  margin: 0em -1px;
  font-style: italic;
  font-weight: 300;
}

@media only screen and (min-width: 1280px) {
  body.cms-ui.has-toolbar:not(.has-sidebar):not(.has-sidebar-collapsed)
    .ui.container.fluid.controlpanel-subscriptions {
    width: 90% !important;
  }
}
