td.history-status div {
  width: 25px;
  height: 25px;
  border-radius: 50%;
  display: flex;
  color: #fff;
  align-items: center;
  justify-content: center;
}

td.history-status div.error {
  background-color: #ff0000;

}

td.history-status div.success {
  background-color: #008000;

}

td.history-status div.sending {
  background-color: #eec009;

}
