td.history-status span {
  display: inline-block;
  width: 12px;
  height: 12px;
  border-radius: 50%;
  vertical-align: middle;
}

td.history-status span.error {
  background-color: #ff0000;

}

td.history-status span.success {
  background-color: #008000;

}

td.history-status span.sending {
  background-color: #ffd900;

}
